.header-fix{
    width: 100vw;
    height: 5rem;
    background: var(--color-primary-dark);
    color:var(--color-text-in-primary);


    position: fixed;
    top: 0;
    z-index: 999;

    padding: 0 2.4rem;

}
.header-fix #header-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1100px;
    margin: 0 auto;
}
.header-fix small{
    font-size: 1.6rem;
    font-family: Archivo;
    font-weight: 700;
}

.header-fix  img{
    width: 32px;
}

/*Breakpoint*/
@media(min-width:700px){
    .header-fix img{
        width: 52px;
    }
}