#page-profile-form{
    width: 100vw;
    height: 100vh;
}
#page-profile-form div#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
#page-profile-form div#profile #profile-avatar{
    position: relative;
    width: 140px;
    height: 140px;
}
#page-profile-form div#profile #profile-avatar>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#page-profile-form div#profile #profile-avatar label{
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 48px;
    height: 48px;
}
#page-profile-form div#profile #profile-avatar input{
    display: none;
}
#page-profile-form div#profile h3{
    font: 900 2.4rem Archivo;
    line-height: 2.5rem;
    margin-top: 3.2rem;
    color:#fff;
}
#page-profile-form div#profile span{
    font: 500 1.6rem Poppins;
    margin-top: 1.2rem;
    margin-bottom: 3.6rem;
    color:var(--color-text-in-primary);
}
#page-profile-form main{
    background: var(--color-box-base);
    width: 90%;
    max-width: 80rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 4.8rem;
    overflow: hidden;
  }

  #page-profile-form main label{
    color: var(--color-text-complement);
  }
  
  #page-profile-form main fieldset{
    border: 0;
    padding: 0 2.4rem;
  }

  #page-profile-form main section#profile{
    display: grid;
    grid-template-areas: 
    "nome" "sobrenome"
    "email" "whatsapp"
    ;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
  }

  #page-profile-form main section#profile .input-block{
    margin-top: 0;
  }
  #page-profile-form main .schedule-item{
    display: grid;
    grid-template-areas: 
    "dia"
    "from"
    "to"
    "delete";
    gap: 1.6rem;
  }
  #page-profile-form main .schedule-item .select-block{
    max-width: 100vw;
    grid-area: dia;
  }
  #page-profile-form main .schedule-item .input-block{
    margin-top: 0 !important;
  }
  #page-profile-form main fieldset + fieldset{
    margin-top: 6.4rem;
  }
  
  #page-profile-form main fieldset legend{
    font:700 2.4rem Archivo;
    color:var(--color-text-title);
    margin-bottom: 2.4rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
  }
  
  #page-profile-form main fieldset legend button {
    background: none;
    border: 0;
    color: var(--color-primary);
    font: 700 1.6rem Archivo;
  
    cursor: pointer;
    transition: background-color 0.2s;
  }
  #page-profile-form main fieldset legend button:hover {
    color: var(--color-primary-dark);
  }
  
  
  #page-profile-form main fieldset .input-block + .textarea-block{
    margin-top: 2.4rem;
  }
  
  #page-profile-form main fieldset .select-block + .input-block{
    margin-top: 2.4rem;
  }

  #page-profile-form .schedule-item #btn-excluir{
    color:red;
    border: 0;
    background: none;
    text-align: center;
  }
  #page-profile-form .schedule-item fieldset.delete {
    border-top: 1px solid var(--color-line-in-white);
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    grid-area: delete;
  }
  #page-profile-form .schedule-item fieldset.delete legend{
    border-bottom: 0;
    margin: 0;
    padding: 0;
    padding: 5px 10px;
    display: block;
    width: auto;
    color:red;
    font: 700 1.2rem Archivo;
    
    cursor: pointer;
  }
  
  #page-profile-form main footer{
    padding: 4rem 2.4rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 6.4rem;
  }
  #page-profile-form main footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
  }
  #page-profile-form main footer p img{
    margin-right: 2rem;
  }
  
  #page-profile-form main footer button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color:var(--color-button-text);
  
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archive;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  
    transition: background-color 0.2s;
    margin-top: 3.2rem;
  }
  #page-profile-form main footer button:hover{
    background: var(--color-secundary-dark);
  }
/*Breakpoints*/
@media(min-width:425px){
    #page-profile-form main .schedule-item{
  
      grid-template-areas: 
      "dia dia"
      "from to"
      "delete delete";
      
    }
  }
  @media(min-width:700px){
  
    #page-profile-form{
      max-width: 100vw;
    }
    
    #page-profile-form .page-header .header-content{
      margin-bottom: 0;
    }
    
    #page-profile-form main fieldset{
      padding: 0 6.4rem;
    }

    #page-profile-form main section#profile{
      grid-template-areas: 
      "nome sobrenome"
      "email whatsapp"
      ;

    }

  
    #page-profile-form main footer{
      padding: 4.0rem 6.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    #page-profile-form main footer button{
      
      width: 20rem;
      margin-top: 0;
  
    }
    #page-profile-form main .schedule-item{
  
      grid-template-areas: 
      "dia dia from to"
      "delete delete delete delete";
    }

    #page-profile-form .page-header{
        background-image: url(../../assets/images/horizontal-background.svg);
        background-size: contain;
        background-position: center;
        

    }
    #page-profile-form .page-header .header-content{
        justify-content: center;
        padding-bottom: 0px;
    }
  
  
}