#container-register{
    width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;

}
a{
    font-size: 1.2rem;
    text-decoration: none;
}

/*Estilização da capa de login*/
#logo{

    height: 50vh;
    width: 100vw;   
    background:var(--color-primary-dark) url(../../assets/images/success-background.svg) center no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Proffy*/
#logo img{
    width: 20rem;
    height: 10rem;
    
}

img#back {
    width: 4rem;
    position: absolute;
    top: 16px;
    left: 15px;
}

/*Sua plataforma de estudos online*/
#logo h2{
    text-align: left;
    margin-top: -3rem;
    font-size: initial;
    color:var(--color-text-in-primary);
}

/*Formulario de login*/
#form-register{
    width: 100vw;
    padding: 0 3.2rem;

}
#form-register form h3{
    margin-top: 2.1rem;
    font-size: 3.0rem;
}

#form-register form span{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2;
    margin-bottom: 2rem;
}
 
/*Configuração das bordas dos inputs.*/
#inputs>:first-child input{
    border-top-right-radius: .8rem;
    border-top-left-radius: .8rem;
}

#inputs div + div input{
    border-top:0;
}

#inputs>:last-child input{
    border-bottom-right-radius: .8rem;
    border-bottom-left-radius: .8rem;
    margin-bottom: 4rem;

}

/*Botão entrar*/
a#register{
    border: 1px solid var(--color-line-in-white);
    border-radius: .8rem;

    background-color: var(--color-secundary); 
    color: var(--color-button-text);

    
    width: 100%;
    height: 5rem;
    transition: all .2s linear;
    cursor: pointer;
    margin-bottom: .8rem;

    /*Remover qd virar botão*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

a#register:hover{

    background-color: var(--color-secundary-dark); 
    font-weight: 300;
   

}

/*Breakpoints*/
@media(min-width:650px){

    #container-register{
        flex-direction: row-reverse;
        align-items: center;

    }

    #form-register form{
        max-width: 352px;
        margin: 0 auto;
    }

    #logo{
        height: 100vh;
    }

    #logo img{
        width: 30rem;
        height: 15rem;
    }

    #form-register form h3{
        margin-bottom: 2.1rem;
    }
}

@media(min-width:1000px){
    :root{
        font-size: 63%;
    }
    img#back{
        left:6rem;
        width: 5rem;
    }
    #form-register form{
        max-width: 600px;
        width: 352px;
        margin: 0 auto;
    }
}