.input-login{
    position: relative;
}
.input-login input{
    
    outline: none; /*Tirar a borda ao clicar no input*/
    height: 48px;
    width: 100%;
    padding: 0 1.6rem;
    border: none;
    font-size: 1.4rem;
    
    border: 1px solid var(--color-line-in-white);

}

.input-login label{
    pointer-events: none; /*Tirar a relação do label com o input, ou seja clica no label mas não ativa o input*/
    
    font-size: 1.6rem;
    
    /*Defino a posição absoluta do label e adiciono um delay para sua transição*/
    position: absolute;
    left: 1.6rem;
    margin-top: 12px;
    
    transition: all .5s ease-out;
}

/*Quando o input for selecionado ou tiver algum elemento, manter o label lá em cima*/
input:focus + label,
input:not(:placeholder-shown) + label{
    margin-top: 4px;
    font-size: .8rem;
    color: var(--color-text-complement);
}

/*crio um pseudo-elemento quando o input da div estiver focus true*/
.input-login:focus-within::after{
    content: '';
    height: 24px;
    width: 2px;
    background: var(--color-primary);
    position: absolute;
    left: 0;
    margin-top: 13px;
}