#container-login{
    width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    font-size: 1.2rem;
    text-decoration: none;
}

/*Estilização da capa de login*/
#logo{
    height: 40vh;
    width: 100vw;   
    background:var(--color-primary-dark) url(../../assets/images/success-background.svg) center no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Proffy*/
#logo img{
    width: 20rem;
    height: 10rem;
}

/*Sua plataforma de estudos online*/
#logo h2{
    text-align: left;
    margin-top: -3rem;
    font-size: initial;
    color:var(--color-text-in-primary);
}

/*Formulario de login*/
#form{
    width: 100vw;
    padding: 0 3.2rem;
    height: 60vh;
}

/*Fazer login e criar uma conta*/
#title-new{
    padding-top: 3.2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3.2rem;
}

/*Arredondando as bordas dos inputs*/
input#email{
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom: 0;
}
input#password{
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;

}
/*Lembrar-me e Esqueci minha senha*/
#remember-pass{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#remember-pass>div{
    display: flex;
    align-items: center;
    justify-content: start;
}

#remember-pass input{
  all: unset;
  border: 1px solid var(--color-line-in-white);
  background-color: var(--color-box-base);
  border-radius: 0.8rem;
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

#remember-pass input:checked{
    background-color: var(--color-secundary);
    background-image: url(../../assets/images/icons/check.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#remember-pass label{
    font-size: 1.2rem;
    margin-left: 0.4rem;
}

#remember-pass a{
    color:var(--color-text-complement);
}

/*Botão entrar*/
.btn-acess{
    border: 1px solid var(--color-line-in-white);
    background-color: var(--color-shape-disable);
    border-radius: .8rem;

    width: 100%;
    height: 5rem;
    transition: all .2s linear;

    /*Remover qd virar botão*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.btn-acess:hover{
    background-color: var(--color-secundary); 
    color: var(--color-button-text);
    font-weight: 600;
}

/*Breakpoints*/
@media(min-width:600px){
    #container-login{
        flex-direction: row;
    }
    #form form{
        max-width: 352px;
        margin: 0 auto;
    }
    #logo{
        height: 100vh;
    }
    #logo img{
        width: 30rem;
        height: 15rem;
    }
}

@media(min-width:1500px){
    #form form{
        max-width: 600px;
        width: 500px;
        margin: 0 auto;
    }
}