#page-landing{
  width: 100vw;
  height: 100vh;
  color:var(--color-text-in-primary);

}

.logo-container{
  display: none;
}

#page-landing-header{
  background: var(--color-primary);
  padding: 2.4rem;
  width: 100vw;

}

.header-user{
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 4rem;
}

.header-user #profile{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-user #profile img{
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  margin-right: 1.6rem;
}

.header-user a{
  width: 4rem;
  height: 4rem;
  border-radius: .8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary-dark);
}

#title-logo>img{
  width: 100%;
}

/*Estilização do conteudo*/
#page-landing-content{
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page-landing-content h2{
  margin-top: 2.4rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  color:var(--color-text-base);
  margin-bottom: 3.2rem;
}

/*Botoes Estudar/Dar aulas*/
.buttons-container{
  display: flex;
  align-items: center;
  margin-bottom: 5.6rem;
}

.buttons-container a {
  display: block;
  width: 14.8rem;
  height: 15.8rem;
  border-radius: 0.8rem;

  font-size: 2rem;
  font-weight: bold;
  color: var(--color-title-in-primary);
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.6rem;

  
}

/*Estilizando o primeiro botão*/
.buttons-container > :first-child{

  background: var(--color-primary);
}
.buttons-container > :first-child:hover{
  background: var(--color-primary-darker);
}

.buttons-container > :last-child{
  margin-left: 1.6rem;
  background: var(--color-secundary);
}

.buttons-container > :last-child:hover{
  background: var(--color-secundary-dark);
}

.container-landing{
  max-width: 700px;
  margin: 0 auto;
}


/*BreakPoints*/

@media(min-width:1000px){
  .container-landing{
    max-width: 1100px;
    margin: 0 auto;
  }
  #title-logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #title-logo img{
    max-width: 50%;
  }

  #title-logo .logo-container img{
    max-width: 70%;
  }

  .logo-container{
    display: block;
  }

  #page-landing-content{
    margin-top: 5.6rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "title title connections buttons";
  }

  #page-landing-content h2{
    grid-area: title;
  }

  #page-landing-content .total-connections{
    grid-area: connections;
  }
  .buttons-container{
    margin-bottom: 0;
  }

  .buttons-container a{
    grid-area: buttons;
    width: 20rem;
    height: 10.4rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }


}
