#container-reset-password{
    width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;

}
a{
    font-size: 1.2rem;
    text-decoration: none;
}

/*Estilização da capa de login*/
#logo{

    height: 50vh;
    width: 100vw;   
    background:var(--color-primary-dark) url(../../assets/images/success-background.svg) center no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Proffy*/
#logo img{
    width: 20rem;
    height: 10rem;
    
}

img#back {
    width: 4rem;
    position: absolute;
    top: 16px;
    left: 15px;
}

/*Sua plataforma de estudos online*/
#logo h2{
    text-align: left;
    margin-top: -3rem;
    font-size: initial;
    color:var(--color-text-in-primary);
}

/*Formulario de login*/
#form-reset{
    width: 100vw;
    padding: 0 3.2rem;

}
#form-reset form h3{
    margin-top: 2.1rem;
    font-size: 3.0rem;
}

#form-reset form span{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2;
    margin-bottom: 2rem;
}
 
/*Configuração das bordas dos inputs.*/
#form-reset input{
    border-radius: 0.8rem;
    margin-bottom: 2.4rem;
}

/*Botão entrar*/
a#btn-reset-password{
    border: 1px solid var(--color-line-in-white);
    background-color: var(--color-shape-disable);
    color:var(--color-text-complement);
    border-radius: .8rem;
    
    font-size: 1.6rem;
    font-family: Archivo;
    font-weight: 700;
    width: 100%;
    height: 5rem;
    
    transition: all .2s linear;
    
    /*Remover qd virar botão*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

a#btn-reset-password:hover{

    background-color: var(--color-secundary); 
    color: var(--color-button-text);

}

/*Breakpoints*/
@media(min-width:650px){

    #container-reset-password{
        flex-direction: row-reverse;
        align-items: center;

    }

    #form-reset form{
        max-width: 352px;
        margin: 0 auto;
    }

    #logo{
        height: 100vh;
    }

    #logo img{
        width: 30rem;
        height: 15rem;
    }

    #form-reset form h3{
        margin-bottom: 2.1rem;
    }
}

@media(min-width:1000px){
    :root{
        font-size: 63%;
    }
    img#back{
        left:6rem;
        width: 5rem;
    }
    #form-reset form{
        max-width: 600px;
        width: 352px;
        margin: 0 auto;
    }
}